<div class="container color-dark">

<div class="col">
  <p>Add a list of things you want</p>
</div>
<div class="col">
  <p>Your Wish List</p>
</div>

</div>
<div class="container color-light">
  
  <div class="col">
    <p class="sm">Fill the form below What do you want to do with your life?</p>
   <form>
     <input type="text" class="txt" name="item" placeholder="Life Goal..." [(ngModel)]="goalText" >
     <br>
     <span>{{goal}}</span>
     <input type="submit" class="btn" value="Add Item" (click) = "addItem()">
   </form>


  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals ">{{goal}}</p>
  </div>
  
  </div>
